<header>
    <div>
        <nav class="navbar navbar-light navbar-expand-md bg-info py-3">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="/">
                    <span
                        class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon">
                        <i class="fas fa-shopping-bag"></i>
                    </span>
                    <span>Shopping Cart</span>
                </a>
                <button data-bs-toggle="collapse" class="navbar-toggler"
                    style="outline: 0;box-shadow: none;border-width: 0px" data-bs-target="#navcol-1">
                    <span class="visually-hidden" style="padding: 1px;">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"><a class="nav-link active" href="/"><i class="fas fa-home pe-1"
                                    style="margin: 1px;"></i>Home</a></li>
                                    {{#if user}}
                        <li class="nav-item"><a class="nav-link" href="/orders">My Orders</a></li>
                        {{/if}}
                        <li class="nav-item"><a class="nav-link" href="/cart"><i class="fas fa-shopping-cart pe-1"
                                    style="margin: 1px;"></i>Cart
                                    {{#if user}}
                                <span class="badge bg-primary" id="cart-count" style="margin: 0px;">{{cartCount}}</span>
                                {{/if}}
                                </a></li>
                    </ul>
                    <div class="mt-md-1 mt-3" style="padding: 0px;">
                        <div class="dropdown me-md-5">
                            <a class="dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i
                                    class="fas fa-user-circle fs-2" style="color: var(--bs-gray-900);"></i></a>
                            <div class="dropdown-menu">
                                {{#if user}}
                                <a class="dropdown-item" href="#">{{user.Name}}</a>
                                
                                <a class="dropdown-item" href="/logout">Logout</a>
                                
                                {{else}}
                                <a class="dropdown-item" href="/signup">Create New Account</a>
                                <a class="dropdown-item" href="/login">Login</a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>