.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }

    
.button {
  padding: 11px 18px;
  font-size: 8px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #0D6EFD;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;
}

.button:hover {background-color: #1690f3}

.button:active {
  background-color: #1690f3 ;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
